html, body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.content {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 0);
  background-color: none;
  z-index: 2;
  top: 30%;
  left: 5%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
}

h1 {
  font-size: 160px;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  margin-top: 0;
  max-width: 700px;
  font-size: 30px;
  width: 100%;
}

p {
  text-align: left;
  padding-bottom: 32px;
}

button {
  display: inline-block;
  border: 1px solid rgb(255, 255, 0);
  border-radius: 40px;
  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(255, 255, 0);
  background-color: rgb(0, 0, 0)
}

button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 0)
}

.skewedbottom {
  background-color: rgb(255, 255, 0);
  width: 100%;
  height: 100%;
  margin-top: 500px;
  padding: 100px 0;
  -ms-transform: skew(0deg, -10deg); /* IE 9 */
  -webkit-transform: skew(0deg, -10deg); /* Safari */
  transform: skew(0deg, -10deg);
  overflow-y: hidden;
}